@import '../../lib/variables.css';

ul {
  list-style-type: none;
  padding-left: 1rem;
}

li {
  padding: 0.3em 0;
  margin-left: 0;
}

.main {
  margin: 1.5rem;
  max-width: 70%;
  line-height: 1.4;
  font-family: $fontFamily;
}

.logo {
  width: 200;
}

.link {
  color: $darkPrimary;
  text-decoration: none;
  padding-bottom: 2;
}

.link:hover {
  color: $primary;
}
