@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

ul {
  list-style-type: none;
  padding-left: 1rem;
}

li {
  padding: 0.3em 0;
  margin-left: 0;
}

.main {
  margin: 1.5rem;
  max-width: 70%;
  line-height: 1.4;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

.logo {
  width: 200;
}

.link {
  color: #1474f3;
  text-decoration: none;
  padding-bottom: 2;
}

.link:hover {
  color: #5d9ff7;
}

.code {
  font-size: 1em;
  font-weight: 600;
  padding: '2px 5px';
  border: '1px solid #eae9e9';
  border-radius: 4;
  background-color: '#f3f2f2';
  color: '#3a3a3a';
}

.welcome-doc-links {
  margin-top: 1rem;
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 0.3rem;
  min-width: 100%;
  box-shadow: 0 0 30px 0 rgba(50, 50, 50, 0.25);
}
