@import '../../lib/variables.css';

.button {
  border: 1px solid $primary;
  border-radius: 3px;
  background-color: $lightPrimary;
  cursor: pointer;
  font-size: 15;
  padding: 3px 10px;
  margin: 10px;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    border: 1px solid $lightPrimary;
    background-color: $primary;
    color: $textLightPrimary;
  }
}
